body * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Arial", sans-serif;
}
body a {
  text-decoration: none;
}
body ul {
  list-style: none;
}
body .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
body .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 61px;
  margin-bottom: 65px;
}
body .nav-content .nav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 31px;
}
body .nav-content .nav__box .header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
body .nav-content .nav__box .header__nav-list .header__nav-link {
  color: #292F36;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
}
body .header-content {
  height: 758px;
  border-radius: 70px;
  background-image: url(../images/header-img.svg);
  margin-bottom: 224px;
}
body .header-content .header__box {
  margin-left: 50px;
  max-width: 433px;
  padding-top: 200px;
}
body .header-content .header__box .header__title {
  color: #292F36;
  font-size: 65px;
  font-weight: 400;
  line-height: 125%;
}
body .header-content .header__box .header__text-one {
  color: #4D5053;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  margin: 18px 0;
}
body .header-content .header__box .header__text-two {
  margin-bottom: 21px;
  color: #4D5053;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
body .header-content .header__box .btn__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 26px 49px 26px 48px;
  border-radius: 18px;
  background: #292F36;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
          box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
}
body .header-content .header__box .btn__box .btn {
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
}
body .main__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 42px;
  margin-bottom: 200px;
}
body .main__one .main__text-box {
  max-width: 358px;
  width: 100%;
  text-align: center;
}
body .main__one .main__text-box .text__box-titles {
  color: #292F36;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
}
body .main__one .main__text-box .text__box-text {
  margin: 20px 0 52px 0;
  color: #4D5053;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
body .main__one .main__text-box .main__link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
body .main__one .main__text-box .main__link-box .main__link {
  color: #4D5053;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
}
body .main__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 75px;
  margin-bottom: 200px;
}
body .main__two .main__two-left {
  max-width: 472px;
  width: 100%;
}
body .main__two .main__two-left .two__left-title {
  max-width: 430px;
  width: 100%;
  color: #292F36;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
body .main__two .main__two-left .two__left-text {
  margin: 33px 0 45px 0;
  color: #4D5053;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
body .main__two .main__two-left .call__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-bottom: 47px;
}
body .main__two .main__two-left .call__box .call__num {
  color: #4D5053;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.24px;
}
body .main__two .main__two-left .call__box .call__center {
  color: #4D5053;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
body .main__two .main__two-left .btn__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 26px 49px 26px 48px;
  border-radius: 18px;
  background: #292F36;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
          box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
}
body .main__two .main__two-left .btn__box .btn {
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
}
body .main__three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 679px;
  margin-bottom: 150px;
  background-image: url(../images/main-three.svg);
}
body .main__three .main__three-title {
  max-width: 600px;
  width: 100%;
  text-align: center;
  color: #292F36;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
  margin: 88px 0 38px 0;
}
body .main__three .main__three-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
body .main__three .main__three-boxes .main__three-box {
  max-width: 370px;
  width: 100%;
  height: 339px;
  padding: 53px 37px 0 37px;
  background-image: url(../images/white-boxes.svg);
}
body .main__three .main__three-boxes .main__three-box .three__box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
  margin-bottom: 25px;
}
body .main__three .main__three-boxes .main__three-box .three__box-top .title__one {
  max-width: 200px;
  width: 100%;
  color: #292F36;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
body .main__three .main__three-boxes .main__three-box .three__box-top .title__one .grey {
  color: #4D5053;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
body .main__three .main__three-boxes .main__three-box .three__box-text {
  max-width: 296px;
  color: #4D5053;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
body .main__four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 108px;
  margin-bottom: 150px;
}
body .main__five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}
body .main__five .main__five-title {
  color: #292F36;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
body .main__five .main__five-text {
  max-width: 737px;
  margin: 8px 0 93px 0;
  text-align: center;
  color: #4D5053;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
body .main__five .main__five-boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 104px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 56px 104px;
}
body .main__five .main__five-boxes .main__five-box {
  max-width: 619px;
  width: 100%;
}
body .main__five .main__five-boxes .main__five-box .five__box-img {
  margin-bottom: 24px;
}
body .main__five .main__five-boxes .main__five-box .five__mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .main__five .main__five-boxes .main__five-box .five__mini .five__mini-title {
  max-width: 217px;
  width: 100%;
  color: #292F36;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
body .main__five .main__five-boxes .main__five-box .five__mini .five__mini-title .mini__span {
  margin-top: 4px;
  color: #4D5053;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
body .main__six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
  height: 457px;
  background-color: #F4F0EC;
}
body .main__six .main__six-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}
body .main__six .main__six-boxes .line {
  width: 1px;
  height: 130px;
  background: #CDA274;
}
body .main__six .main__six-boxes .main__six-box {
  text-align: center;
}
body .main__six .main__six-boxes .main__six-box .six__box-title {
  margin-bottom: 16px;
  color: #CDA274;
  font-size: 85px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1.7px;
}
body .main__six .main__six-boxes .main__six-box .six__box-text {
  color: #4D5053;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}