body {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Arial", sans-serif;
    }
    a {
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
    .container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
    .nav-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 61px;
        margin-bottom: 65px;
        .nav__box {
            display: flex;
            align-items: center;
            gap: 31px;
            .header__nav-list {
                display: flex;
                align-items: center;
                gap: 40px;
                .header__nav-link {
                    color: #292F36;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 125%;
                }
            }    
        }
    }
    .header-content {
        height: 758px;
        border-radius: 70px;
        background-image: url(../images/header-img.svg);
        margin-bottom: 224px;
        .header__box {
            margin-left: 50px;
            max-width: 433px;
            padding-top: 200px;
            .header__title {
                color: #292F36;
                font-size: 65px;
                font-weight: 400;
                line-height: 125%;
            }
            .header__text-one {
                color: #4D5053;
                font-size: 22px;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0.22px;
                margin: 18px 0;
            }
            .header__text-two {
                margin-bottom: 21px;
                color: #4D5053;
                font-size: 22px;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0.22px;
            }
            .btn__box {
                display: flex;
                align-items: center;
                gap: 10px;
                width: fit-content;
                padding: 26px 49px 26px 48px;
                border-radius: 18px;
                background: #292F36;
                box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
                .btn {
                    color: #FFF;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 125%;
                    letter-spacing: 0.36px;
                }
            }
        }
    }
    .main__one {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 42px;
        margin-bottom: 200px;
        .main__text-box {
            max-width: 358px;
            width: 100%;
            text-align: center;
            .text__box-titles {
                color: #292F36;
                font-size: 25px;
                font-weight: 400;
                line-height: 125%;
            }
            .text__box-text {
                margin: 20px 0 52px 0;
                color: #4D5053;
                font-size: 22px;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0.22px;
            }
            .main__link-box {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;
                .main__link {
                    color: #4D5053;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 125%;
                    letter-spacing: 0.36px;
                }
            }
        }
    }
    .main__two {
        display: flex;
        align-items: center;
        gap: 75px;
        margin-bottom: 200px;
        .main__two-left {
            max-width: 472px;
            width: 100%;
            .two__left-title {
                max-width: 430px;
                width: 100%;
                color: #292F36;
                font-size: 50px;
                font-weight: 400;
                line-height: 125%;
                letter-spacing: 1px;
            }
            .two__left-text {
                margin: 33px 0 45px 0;
                color: #4D5053;
                font-size: 22px;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0.22px;
            }
            .call__box {
                display: flex;
                align-items: center;
                gap: 15px;
                margin-bottom: 47px;
                .call__num {
                    color: #4D5053;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 150%;
                    letter-spacing: 0.24px;
                }
                .call__center {
                    color: #4D5053;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: 0.22px;
                }
            }
        }
    }
}